@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.article2 h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#tit1 {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: normal;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: white;
}

#tit1 {
  font-size: 3rem;
  color: white;
}

.textocentro {
  text-align: center;
  display: flex;
  height: 140px;
  width: 100%;
  justify-content: center;
}

#btn1 .btn {
  background: none;
  padding: 5px 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border: 0.5px solid rgb(20, 80, 192);
  margin: 1px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  z-index: 22222;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#btn1 .btn::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 0%;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(244, 0, 2) 45%, rgb(0, 212, 255) 100%);
  z-index: -1;
  transition: 0.7s;
}
#btn1 .btn1:before {
  top: 0;
  border-radius: 0 0 40% 40%;
}
#btn1 .btn1:hover::before {
  height: 180%;
}
#btn1 .btn1 {
  color: rgb(255, 255, 255);
}

nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 70px;
  width: 100%;
  padding: 0px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin: 4px;
  padding: 4px;
}

.logo {
  height: auto;
  width: 14px;
  padding: 0%;
}

.logo img {
  height: 60px;
}

.centralizar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: green;
}

.banner {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0px;
}

#banner2 {
  border-top-right-radius: 30%;
}

.lista {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.lista li {
  margin: 10px;
  font-size: 22px;
}

.section {
  height: 90vh;
  width: 100%;
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}

#article1 {
  display: flex;
  height: 450px;
  width: 100%;
  background-color: orange;
  margin: 3%;
  flex-direction: column;
}

#article2 {
  display: flex;
  height: 300px;
  width: 100%;
  margin: 3%;
  text-align: justify;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#article3 {
  display: flex;
  height: 300px;
  width: 100%;
  background-color: orange;
  margin: 3%;
  flex-direction: column;
}

#article4 {
  display: flex;
  height: 300px;
  width: 100%;
  background-color: orange;
  margin: 3%;
  flex-direction: column;
}

.hamb {
  display: none;
}

@media screen and (max-width: 898px) {
  #article1 {
    display: none;
  }
  #article2 {
    text-align: center;
  }
  .hamb {
    display: block;
  }
  nav ul li {
    display: none;
  }
}
body {
  background-color: orange;
}

/*# sourceMappingURL=css2.css.map */
