.links div a {
    color: white;

    
    display: flex;

}

.links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer{
    display: flex;
    width: 100%;
    height: 250px;
}

.autor{
    background: #000000;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   
 

    & a {
        color: white;
}
}
