
@mixin nav-bar($display2,$hei,$width2,$padd){

    display: $display2;
    height: $hei;
    width: $width2;
    padding: $padd;


}


@mixin article($display,$hei,$wid,$back,$mar,$flex-dir){


    display: $display;
    height: $hei;
    width: $wid;
    background-color: $back;
    margin: $mar;
    flex-direction: $flex-dir;
}