.logo{
    height: 40px;
    width: 50px;
    display: flex;
    margin: 20px;
    color: white;
    
}

.sublink{
    display: flex;
        justify-content: center;
        align-items: anchor-center;
    
}