

.section{
    height: 90vh;
    width: 100%;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

    #article1{
        display: flex;
        height: 450px;
        width: 100%;
        background-color: orange;
      margin: 3%;
      flex-direction: column;
        }

    #article2{
        display: flex;
        height: 300px;
        width: 100%;
        margin: 3%;
   
        flex-direction: column;
        gap: 20px;

        justify-content: center;
        align-items: center;
      
    }

    
    #article3{
       
        @include article(flex,300px,100%,rgb(0, 0, 0),3%,column);

        justify-content: center;
        align-items: center;
    }
    #article4{
       
        @include article(flex,300px,100%,rgb(0, 0, 0),3%,column);
		border-radius:10px;
    }
 #article5{ 
 
 @include article(flex,350px,15%,white,0%,column);
 border-radius:10px;
 }
  
  #article6{ 
 
 @include article(flex,350px,25%,orange,0%,column);
 border-radius:10px;
 }
  
  #article7{ 
 
 @include article(flex,350px,25%,orange,0%,column);
 border-radius:10px;
 }
  
        .hamb{
            display: none;
        }
    