.btndiv{

    height: 78px;
    display: flex;
    align-items: center;
    width: 8%;
    justify-content: center;
  

    & button {

        background-color: blue;
        color: white;
        padding: 5px;
        border: none;
        border-bottom-left-radius: 10px;

    }

}