#btn1{
    display: flex;
    width: 100%;
    
    & button{
        background-color: blue;
        color: white;
        padding:5px;
        border-radius: 3px;
        color: white;
        border: none;

    }
}
