.banner{

    @include nav-bar(flex, 100%, 100%, 0px);

}

#banner2{
    border-top-right-radius: 30%;
}



#banner3{
	heigth:50px;
}


.imgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42%;
	
	}
	
	.imgdiv img{
		
		height:100px;
	}